.AP {
        display: inline;
        text-decoration: none;
        text-align:center;
        float:center;
    }
.card {
        border-radius: 25px;
        display:flex;  
        margin: 10px;
        border-radius:25px;
        margin: 10px 10px;
        padding: 0px;
        border-color: #bdbdc2;
        }

.btn-right {
           
            text-align: right;
            color: black;   
            margin-right: 35px;
            }
    
h6 {
    color: black;
   }
    
.btn-edit-background
    {    
        position:absolute;
        color: rgb(253, 249, 249);
        margin-left: -45px;
        padding: 10px;
        margin-top: 15px;
        font-size:20px;       
    }    

.card-img-top 
        {
            position:relative;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            height: 320px;    
        }
    
.avatar {
            position:relative;
            border-radius: 50%;    
            height:180px;  
            object-fit: cover;
            object-position:center;
            width: 180px;
            margin-top: -80px;
            margin-left: 30px;
            overflow: hidden;
            border: 3px solid #fff;
        }
        #info{padding: 10px;}

    @media (min-width: 1000px){
        .AP{text-align: right;
            }
    }
 
    @media (max-width:500px){
        #info{text-align: center;
            }
    }

    @media (max-width:280px){
        #info{
            margin-top: 0px;
            margin-left: 0px;
           text-align: center;
           border-radius: 20%;
           
           ;
    
    }}
    