<div class="card"><!--Tarjeta proyectos-->
        <div class="row">
            
            <div class="col-11" >
                <h2>Proyectos</h2>
            </div>
            <div class="btn col-1">
                <h5><a href="#"onclick="addNuevoProyecto()"><i class="fa-solid fa-plus"></i></a></h5>
            </div>
        </div>   
    <div >  
        <ul id="listaProyectos">
            <li class="elementoListaProy">
                <div class="row">
                    <div class="col-11"> 
                        <h5><a href="../../../assets/data/porfolio proyect.jpg"target="_blank">Porfolio Web </a></h5>
                        <p>Dessarollo de un portafolio web. Diseño y desarrollo del Front End, Back End y Base de datos</p>
                    </div>
                <div class="btn col-1">
                        <a href="#"class="btn col-1" onclick="Editar(this.id)"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#"class="btn col-1" onclick="Borrar(this.id)"><i class="fa-solid fa-trash"></i></a>
                </div>
                </div>
            </li>             
        </ul>
    </div>
        
        
</div>
