.card   {
    border-radius: 25px;
    padding: 20px;
    display:flex;  
    margin: 10px;
    border-color: #bdbdc2;
    background-color:#a1b5cb;
}
    
#listaEducacion{list-style-type:none;
                padding:25px;}

.elemListaEdu{padding: 25px;
    list-style-type:none;}

.btn-right {
    text-align: right;
    color: black;   
    margin-right: 25px;
}
.col-1 .btn{
    text-align:right;
    margin-right:-60px;
}

.fa-solid.fa-plus {float: right;
    color: black;
}

@media (max-width:325px){
    .fa-solid.fa-plus{top: 12px;
        right: 10px;
    position: absolute}
}

@media (max-width:450px){
    .fa-solid.fa-trash{ right: 40px;
                        top: 100px;
        position: absolute}
}

@media (max-width:450px){
    .fa-solid.fa-pen-to-square{ right: 10px;
                        top: 100px;
        position: absolute}
}