<div class="card">
    
        <div class="row">
            
            <div class="col-11" ><h2>Experiencia Laboral</h2></div>
             <div class="btn col-1">
                 
                 <h5><a href="#" onclick="addExperiencia()"><i class="fa-solid fa-plus"></i></a></h5>
            </div>
        </div> 
    
      <div > 
          <ul style="list-style-type:none" id="listaExperiencia">    
             <li id="elementoListaExp1">
                <div class="row" id="expLabFila1">
                     <div class="col-11">                         
                        <h5 id="puesto1"> Regional Advance Product Support</h5>
                        <p id="detalleExp1">EPSON ARGENTINA - desde 2014 hasta la actulidad</p>
                        
                    </div>
                    <div class="btn col-1">
                        <a href="javascript:;"class="btn-right" id="btnBorrarExpe1"onclick="Borrar(this.id)"><i class="fa-solid fa-trash"></i></a>
                        <a href="javascript:;"class="btn-right" id="btnEditarExp1" onclick="Editar(this.id)"><i class="fa-solid fa-pen-to-square"></i></a>
                         
                         
                    </div>
                </div>
            </li>       
             <li id="elementoListaExp2">
                
                <div class="row">
                    <div class="col-11"> 
                        <h5 > Coordinador Servicio Corporativo</h5>                   
                        <p >EPSON ARGENTINA - desde 2007 hasta 2014</p>
                       
                    </div>
                   <div class="btn col-1">
                    <a href="javascript:;"class="btn-right" id="btnBorrarExpe1"onclick="Borrar(this.id)"><i class="fa-solid fa-trash"></i></a>
                    <a href="javascript:;"class="btn-right" id="btnEditarExp1" onclick="Editar(this.id)"><i class="fa-solid fa-pen-to-square"></i></a>
                        
                   </div>
               </div>
            </li>
            <li id="elementoListaExp3">       
            
            <div class="row" id="expLabFila3">
                <div class="col-11"> 
                   <h5 id="puesto3"> Técnico especialista en Impresoras</h5>
                   <p id="detalleExp3">EPSON ARGENTINA - desde 2002 hasta 2007</p>
                   
               </div>
               <div class="btn col-1">
                <a href="javascript:;"class="btn-right" id="btnBorrarExpe1"onclick="Borrar(this.id)"><i class="fa-solid fa-trash"></i></a>
                <a href="javascript:;"class="btn-right" id="btnEditarExp1" onclick="Editar(this.id)"><i class="fa-solid fa-pen-to-square"></i></a>
                     
               </div>
           </div>
            </li>   
        </ul>     
        </div> 

      
    </div>
