<div class="card">
    <div class="row">
            
        <div class="col-11" >
            <h2>Hard and Soft Skills</h2>
        </div>
        <div class="btn col-1">
            <h5><a href="#"onclick="addNuevoProyecto()"><i class="fa-solid fa-pen-to-square"></i></a></h5>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="45"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontWeight]="'700'"         
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'HTML'"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [titleFontWeight]="'700'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'CSS'"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="35"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontWeight]="'700'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'Java'"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="95"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [titleFontWeight]="'700'"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'Teamwork'"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [titleFontWeight]="'700'"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'Leadership'"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontWeight]="'700'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [title]="'English'"
            ></circle-progress>
        </div>
    </div>
</div>
